<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SKYNET - Escolher Edição</title>
</head>
<body>

    <header>
        <h1>Plataforma SKYNET</h1>
        <p>Selecione uma edição da ONHB para consultar as questões:</p>
    </header>

    <hr>

    <main class="container-edicoes">
        {% for edicao in edicoes %}
            <div class="card-edicao">
                <h3>Edição {{ edicao.num_edicao }}</h3>
                <p>Ano: {{ edicao.ano_edicao }}</p>
                <a href="{% url 'escolher_fase' edicao.id_edicao %}">Acessar Edição</a>
            </div>
        {% empty %}
            <p>Nenhuma edição encontrada no banco de dados.</p>
        {% endfor %}
    </main>

</body>
</html>