<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SKYNET - Questões da Fase {{ fase.num_fase }}</title>
</head>
<body>

    <header>
        <h1>Plataforma SKYNET</h1>
        <h2>Edição {{ fase.id_edicao.num_edicao }} | Fase {{ fase.num_fase }} ({{ fase.tipo_fase }})</h2>
        <p>Abaixo estão as questões desta fase:</p>
    </header>

    <hr>

    <main class="container-questoes">
        {% for questao in questoes %}
            <div class="card-questao" style="margin-bottom: 20px; padding: 15px; border: 1px solid #ccc;">
                <h3>Questão {{ questao.num_questao }}</h3>
                <p><strong>Tipo:</strong> {{ questao.id_tipo_questao.tipo_nome }}</p>
                <p><strong>Enunciado:</strong> {{ questao.enunciado }}</p>
                
                <a href="{% url 'detalhes_questao' questao.id_questao %}">Ver alternativas e detalhes</a>>
            </div>
        {% empty %}
            <p>Nenhuma questão encontrada para esta fase.</p>
        {% endfor %}
    </main>

    <footer>
        <a href="{% url 'escolher_fase' fase.id_edicao.id_edicao %}">← Voltar para as Fases</a>
    </footer>

</body>
</html>